# Emacs backup files, except this one:
*~
*#*
# ! foo~
# rdoc/

# Log files
*.log

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
