/* schedule.css
   Classes for ruby/rails/ajax tv-schedule
    - Mike Cannon (Mon Mar 4 '13)
                                       (http://github.com/emeyekayee/Timeline)
                                       (michael.j.cannon@gmail.com)
   NOTE: Parts of this file borrowed (as noted) from mythweb, part of
         mythtv.  See their terms.
 */

/* */
body {
    border:           0;
    margin:           10px;
    padding:          0;
    font-size:        11pt;
    font-family:      Arial, Helvetica, sans-serif;
    background-color: #002650;
 /* color:            #ededed; */
}

h2                      { color: #194B82 }

a:link                  { color: white;  text-decoration: none;}
a:visited               { color: white;  text-decoration: none;}

#current-time-cursor    { border-left:      1px solid rgba(255,0,0,.65);
                          z-index:          1;
                          width:            1px;
                          height:           4000px;
                          position:         absolute;
                        }

#scrolling-container    { overflow-x:       scroll;
                          padding-bottom:   3px;
                          vertical-align:   top;
                          width:            750px;
                          border:           1px solid red;
                        }

#positioned-container   { overflow:         hidden;
                          margin:           1px;
                          margin-top:       0px;
                          width:            20000px;
                          position:         relative;
                        }

#labels-container       { width:            60px;
                          vertical-align:   top;
                          display:          inline-block;
                        }

#timespans-container    { vertical-align:   top;
                          display:          inline-block;
                        }

#resource-labels        { position:         relative;
                          left:             5px;
                          background-color: #002650;
                          border:           1px solid red;
                        }


#scrollbar-hider        { width:            811px;   /* per #resource-labels + */
                          height:           20px;    /* #scrolling-container   */
                          background-color: #002650;
                          position:         relative;
                          top:              -20px;
                          left:             5px;
                          border-top:       1px solid red;
                        }

.rsrcRow                { display:          block;
                          margin:           1px;
                          margin-left:      0px;
                        }

.rsrclabel              { position:         absolute;
                          width:            56px;
                          border:           1px solid #002650;
                          background-color: transparent; /* #265990 */
                          font-weight:      bold;
                          text-align:       center;
                          color:            white;
                        }

.rsrclabel img          { position:         absolute;
                          left:             0;
                          z-index:          0;
                          background-color: #002650;
                        }

.rsrclabel > .label-text {
                          position:         absolute;
                          z-index:          2;
                          color:            #fff;
                          text-align:       center;
                          width:            56px;
                        }

.rsrclabel > div.filter { position:         absolute;
                          /* margin-top:       3px; */
                          background-color: #002650;
                          width:            56px;
                          z-index:          1;
                          opacity:          0.5;
                        }

.Channelrow .rsrclabel > div.filter {
                          height:           36px;
                        }


.Channelrow .rsrclabel div
                        { font-size:        16pt; }


.Channelrow             { height:           36px;}
.Channelrow .blockdiv   { height:           32px;
                          padding:          2px;
                        }
.Channelrow .rsrclabel img 
                        {                     /* "inherit" no go for IE  */
                          height:           36px;
                          width:            56px;
                        }


/* .TimeheaderDayNightrow */


.TimeheaderDayNightrow  { height:           22px;
                        }

.TimeheaderDayNightrow .blockdiv  
                        { height:           18px;
                          padding:          2px;
                        }                       

.TimeheaderDayNightrow .rsrclabel img
                      {                        /* "inherit" no go for IE  */
                        height:           22px;
                        width:            56px;
                      }

.TimeheaderDayNightrow .rsrclabel  > div.filter {
                          height:           22px;
                        }

.TimeheaderDayNightrow div.rsrclabel
                      {
                        /* color:            #D0E0F0; */
                        height:           22px;
                        width:            56px;
                      }

.ampmLeft               { float:            left;
                          margin-top:       6px;
                          font-size:        80%;
                          color:            #C0D0E0;
                        }
.ampmRight              { float:            right;
                          margin-top:       6px;
                          font-size:        80%;
                          color:            #C0D0E0;
                        }
.ampmCenter             { text-align:       center;
                          color:            #D0E0F0;
                        }

.blockdiv.amTimeblock   { background-color: #33669E; }
.blockdiv.pmTimeblock   { background-color: #194B82; }




/* .TimeheaderHourrow */

.TimeheaderHourrow      { height:    22px;}

.TimeheaderHourrow .blockdiv  {
                          height:           18px;
                          padding:          2px;
                          background-color: #265990;
                          text-align:       center;
                          font-size:        14px;
                        }

.TimeheaderHourrow .rsrclabel  > div.filter {
                          height:           22px;
                        }

.TimeheaderHourrow div.rsrclabel
                      {
                        height:           22px;
                        width:            56px;
                      }

.TimeheaderHourrow .rsrclabel img
                      {                        /* "inherit" no go for IE  */
                        height:           22px;
                        width:            56px;
                      }


.timespan             { position:         absolute;
                        left:             0px;  /* WAS 68px, space for labels */
                      }


.blockdiv             { position:         absolute;
                        border:           1px solid #002650;
                        font-size:        11px;
                        line-height:      1.2;
                        white-space:      nowrap;
                        overflow:         hidden;
                      }


/****************************************************************************/
/* Styles for tooltips -- from
 *  /r/FSRV/PROJECTS/mythweb/themes/Default/style.css
 */

/* A class for the left-cleared <dl> lists used for program details popups */

div.tt                { position:     fixed;
                        opacity:      0.85; /* Not IE, (Chrome? Opera?)   */
                        color:        #ffd;
                        text-align:   left;
                        font-size:    8pt;
                        font-family:  Arial, Helvetica, sans-serif;
                        z-index:      10;
                      }


dl.detail_list        { background:    #111;
                        padding:       2px;
                        font-size:     11pt;
                        margin:        .125em;
                        width:         300px;
                        border-radius: 12px;
                      }


dl.detail_list dt     { clear:        left;
                        float:        left;
                        width:        6em;
                        padding-top:  3px;
                        text-align:   right;
                      }


dl.detail_list dd     { white-space:  normal;
                        padding-top:  3px;
                        margin-left:  6.75em;
                        max-width:    20em;
                      }


dl.detail_list dd img { height:       12px; /* "inherit" no go for IE  */
                        width:        48px;
                      }

.starsclip            { display:      inline-block;
                        white-space:  nowrap;
                        overflow:     hidden;
                      }

/****************************************************************************/

.cat_Action         { background-color: #906020; }
.cat_Adult          { background-color: #702020; }
.cat_Animals        { background-color: #609060; }
.cat_Art_Music      { background-color: #801060; }
.cat_Business       { background-color: #703010; }
.cat_Children       { background-color: #B00010; }
.cat_Comedy         { background-color: #006080; }
.cat_Crime_Mystery  { background-color: #105050; }
.cat_Documentary    { background-color: #504020; }
.cat_Drama          { background-color: #400060; }
.cat_Educational    { background-color: #606060; }
.cat_Food           { background-color: #208040; }
.cat_Game           { background-color: #701010; }
.cat_Health_Medical { background-color: #806060; }
.cat_History        { background-color: #807020; }
.cat_HowTo          { background-color: #A0A000; }
.cat_Horror         { background-color: #101040; }
.cat_Misc           { background-color: #403060; }
.cat_News           { background-color: #606040; }
.cat_Reality        { background-color: #304040; }
.cat_Romance        { background-color: #A02050; }
.cat_Science_Nature { background-color: #007010; }
.cat_SciFi_Fantasy  { background-color: #606090; }
.cat_Shopping       { background-color: #204020; }
.cat_Soaps          { background-color: #508080; }
.cat_Spiritual      { background-color: #804080; }
.cat_Sports         { background-color: #20B060; }
.cat_Talk           { background-color: #203040; }
.cat_Travel         { background-color: #2060B0; }
.cat_War            { background-color: #B06050; }
.cat_Western        { background-color: #806040; }
.cat_Unknown        { background-color: #303030; }

.cat_movie          { background-color: #809090 !important; }
.cat_series         { }
.cat_tvshow         { }

